@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(20, 21, 21);
  padding: 0px 15px;
  height: 100px;
}

.RightContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartIcon {
  margin-right: 15px;
}

.inputForm {
  width: 500px;
  height: 500px;
  background-color: white;
  align-items: center;
}

.knifeBox {
  max-width: 400px;
  margin: 20px;
}

.shopping-cart {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.cart-item {
  margin-right: 30px;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
}

#knivesContainerDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.addToCartButton {
  background-color: #e7e7e7;
  border-radius: 4px;
  padding: 10px 24px;
  margin: 5px 0;
  font-family: system-ui;
}

.addToCartButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
